@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/ssf/BeanPole.css');
@import url('https://webfontworld.github.io/116watermelon/116watermelon.css');
@import url('https://webfontworld.github.io/hahmlet/Hahmlet.css');
@import url('https://webfontworld.github.io/Cafe24SsurroundAir/Cafe24SsurroundAir.css');
@import url('https://webfontworld.github.io/designhouse/DesignHouse.css');
@import url('https://webfontworld.github.io/kt/YUniverse.css');
@import url('https://webfontworld.github.io/MaruBuri/MaruBuri.css');
@import url('https://webfontworld.github.io/seoulhangang/SeoulHangangC.css');
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
.font01 {
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
}
.font02 {
    font-family: 'BeanPole';
}
.font03 {
    font-family: '116watermelon';
}
.font04 {
    font-family: 'Hahmlet';
}
.font05 {
    font-family: 'Cafe24SsurroundAir';
}
.font06 {
    font-family: 'DesignHouse';
}
.font07 {
    font-family: 'YUniverse';
}
.font08 {
    font-family: 'MaruBuri';
}
.font09 {
    font-family: 'SeoulHangangC';
}
.font10 {
    font-family: 'TheJamsil';
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/sliderEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/sliderEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/sliderEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/sliderEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/sliderEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/sliderEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/sliderEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/sliderEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/sliderEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/sliderEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(5, 36, 70, 0.87);
    z-index: -1;
}
body.bg01::after {
    background: rgba(5, 36, 70, 0.87);
}
body.bg02::after {
    background: rgba(34, 5, 70, 0.87);
}
body.bg03::after {
    background: rgba(88, 20, 81, 0.97);
}
body.bg04::after {
    background: rgba(88, 20, 20, 0.87);
}
body.bg05::after {
    background: rgba(88, 65, 20, 0.87);
}
body.bg06::after {
    background: rgba(62, 88, 20, 0.87);
}
body.bg07::after {
    background: rgba(20, 88, 29, 0.87);
}
body.bg08::after {
    background: rgba(20, 88, 76, 0.87);
}
body.bg09::after {
    background: rgba(20, 55, 88, 0.87);
}
body.bg10::after {
    background: rgba(6, 17, 27, 0.87);
}