/* banner__wrap */
.banner__wrap {
    background-image: linear-gradient(180deg, #01C17F 1.4%, #00BF7C 45.8%, #01BB78 74%, #01B26A 100%);
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
.banner__wrap::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bannerType01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.banner__inner {
    color: #fff;
}
.banner__inner h3 {
    font-size: 50px;
    margin-bottom: 45px;
}
.banner__inner p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 90px;
}
.banner__inner a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 960px){
    .banner__inner h3 {
        font-size: 40px;
    }
}
@media (max-width: 600px){
    .banner__inner h3 {
        font-size: 30px;
    }
    .banner__inner p {
        margin-bottom: 50px;
    }
}