// footer__inner
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer__text {
        width: 20%;

        h5 {
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #808080;

            a {
                text-decoration: underline;
                text-underline-position: under;
                padding-top: 5px;
                display: inline-block;
            }
        }
        .sns {
            li {
                display: inline;
                a {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    @include border(45px);
                    background-color: #fff;
                    background-image: url(../../images/snsIcon.svg);
                }

                &:nth-child(2) a {
                    background-position: -45px 0;
                }
                &:nth-child(3) a {
                    background-position: -90px 0;
                }
                &:nth-child(4) a {
                    background-position: -135px 0;
                }
            }
        }
    }
    .footer__menu {
        width: 70%;
        display: flex;

        > div {
            width: 25%;

            h4 {
                font-size: 18px;
                color: #000;
                margin-bottom: 20px;
            }
            
            a {
                font-size: 14px;
                color: #808080;
                line-height: 1.8;
                transition: all 0.3s;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    color: #000;
                }
            }
        }
    }
    .footer__right {
        width: 100%;
        padding: 30px;
        text-align: center;
        border-top: 1px solid #E5E5E5;
        margin-top: 50px;
        color: #808080;
        font-size: 14px;
    }
}