// unsplash__section
.unsplash__wrap {
    overflow: hidden;
}
.unsplash__inner {
    height: 560px;
    
    .unsplash__text {
        h3 {
            font-size: 50px;
            margin-bottom: 40px;
        }
        p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        a {
            @include border(50px);
        }
    }
    .unsplash__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;

        > div {
            width: 400px;
            margin-right: 20px;

            img {
                width: 100%;
                @include border(10px);
            }
        }
    }
}


// unsplash__page
.unsplash__slider {
    display: none;
}
.unsplash__search {
    text-align: center;
    margin-bottom: 50px;

    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include border(50px);
        min-width: 300px;
        margin-right: 10px;
    }
    button {
        @include button(#FFA500, #fff);
        @include border(50px)
    }
}
.unsplash__tag {
    
    ul {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;

        li {
            a {
                border: 1px solid #FFA500;
                padding: 10px 20px;
                margin: 0 10px;
                color: #FFA500;
            }
        }
    }
}
.unsplash__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;

        li {
            width: 31.333%;
            margin-bottom: 4%;

            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}