// member__wrap
.member__inner {
    @include flex-between;

    .member {
        width: 32%;
        position: relative;

        .member__header {

            img {
                width: 100%;
            }
        }
        .member__body {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 15px 10px;
            background: #000000b4;
            color: #fff;
            z-index: 100;
            text-align: center;

            h4 {
                font-size: 22px;
            }
            a {
                color: #fff;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}
