body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
* {
    cursor: none;
}
.cursor {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #410b0b;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
#header h1 {
    font-size: 14px;
    line-height: 1;
    padding-top: 4px;
}

.icon__box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 60px 10px 10px 20px;
}
.icon__box > div {
    width: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.icon__box > div img {
    margin-bottom: 10px;
}
.icon__box > div span {
    background-color: #410b0b;
    display: inline-block;
    padding: 5px 2px 3px;
    border-radius: 4px;
}

/* footer */
.info {
    position: fixed;
    left: 50%;
    bottom: 10px;
    font-size: 14px;
    color: #fff;
    transform: translateX(-50%);
    text-align: center;
}